.container {
  height: 520px;
  width: 420px;
  perspective: 500px;
  position: relative;
}
.card {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.card:hover {
  transform: rotateY(180deg); 
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
.card .back {
  color: white;
  transform: rotateY(180deg);
  background: rgb(44,0,29);
}
.border:hover{
  box-shadow: inset 10px 10px 20px 20px #817624;
}